<div class="card-product">
  <div class="card-product-infos">
    <%= params[:question] %>
    <%# want to show the value of the input %>
    <p>you</p>
  </div>
</div>

<div class="card-product">
  <div class="card-product-infos">
    <%= @answer %>
    <p>Your coach</p>
  </div>

  </div>

<div class="container">
    <%= link_to "Ask a new question", ask_path %>
</div>
</div>
